{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/orders.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
{% include "base.html" %}
<style type="text/css">
	.info {
		text-align: left;
		padding: 0.5rem;
		font-size: 1.25rem;
	}

	.radio-inline {
	}

	label[for=result_0]
	{
	    color: #155724;
	    background-color: #d4edda;
	    margin-left:5%;
	    margin-right: 5%;
	    padding: 1%;
	    border-radius: 5px;

	}

	label[for=result_1]
	{
	    color: ##721c24;
	    background-color: #f8d7da;
	    margin-left:5%;
	    margin-right: 5%;
	    padding: 1%;
	    border-radius: 5px;
	    
	}
</style>
<div class="container" style="text-align: center;margin-top: 2%;margin-bottom: 1%;">
	<div class="form-group row">
	    <label for="name" class="col-sm-4">NAME : </label>
	    <div class="col-sm-8">
	    	<p class="info">{{ order.name }}</p>
	    </div>
    </div>
    <div class="form-group row">
	    <label for="name" class="col-sm-4">EMAIL : </label>
	    <div class="col-sm-8">
	    	<p class="info">{{ order.mail }}</p>
	    </div>
    </div>
    <div class="form-group row">
	    <label for="name" class="col-sm-4">MOBILE : </label>
	    <div class="col-sm-8">
	    	<p class="info">{{ order.mobile }}</p>
	    </div>
    </div>
    <div class="form-group row">
	    <label for="name" class="col-sm-4">WORK ORDER TITLE : </label>
	    <div class="col-sm-8">
	    	<p class="info">{{ order.title }}</p>
	    </div>
    </div>
    <div class="form-group row">
	    <label for="name" class="col-sm-4">WORK DESCRIPTION : </label>
	    <div class="col-sm-8">
	    	<p class="info">{{ order.work }}</p>
	    </div>
    </div>
    <div class="form-group row">
	    <label for="name" class="col-sm-4">FILE : </label>
	    <div class="col-sm-8">
	    	<p class="info"><a href="{{ order.file }}">{{ order.file }}</a></p>
	    </div>
    </div>
    <div class="form-group row">
	    <label for="name" class="col-sm-4">WORK TYPE : </label>
	    <div class="col-sm-8">
	    	<p class="info">{{ order.worktype }}</p>
	    </div>
    </div>
    <div class="form-group row">
	    <label for="name" class="col-sm-4">REFERENCE PROFESSOR NAME : </label>
	    <div class="col-sm-8">
	    	<p class="info">{{ order.prof_name }}</p>
	    </div>
    </div>
    <div class="form-group row">
	    <label for="name" class="col-sm-4">REFERENCE PROFESSOR EMAIL : </label>
	    <div class="col-sm-8">
	    	<p class="info">{{ order.prof_mail }}</p>
	    </div>
    </div>
</div>
<div class="container" style="text-align: center;margin-bottom: 5%;">
	<form action="/decision/{{ order.id }}/{{ prof_hash }}" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="form-group row">  
		    <div class="col-sm-12">
		    	{{ decisionform.decision }}
		    </div>
	    </div><br><br>
	    <div class="form-group row">
		    <div class="col-sm-12">
		    	{{ decisionform.remarks }}
		    </div>
	    </div>
	    <div class="form-group row">
		    <div class="col-sm-12">
		    	<button type="submit" class="btn btn-lg">Submit</button>
		    </div>
	    </div>
	</form>
</div>
{% include "footer.html" %}