{% load static %}


{% include "base.html" %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
<script src="{% static 'js/login.js' %}"></script>

<div style="width: 80%;margin: auto;margin-top: 5%;"  >
	<div class="row" id="box">
		<div class="col-md-12"><h2 class="title">LOGIN</h2><br>
			<form action="/do_login" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="form-group row">
				    <label for="name" class="col-sm-4">EMAIL</label>
				    <div class="col-sm-8">
				    	{{ loginform.username }}
				    </div>
			    </div>
			    <div class="form-group row">
				    <label for="name" class="col-sm-4">PASSOWRD</label>
				    <div class="col-sm-8">
				    	{{ loginform.password }}
				    </div>
			    </div><br><br><br>
			    <div class="form-group row">
				    <div class="col-sm-12">
				    	<button type="submit" class="btn btn-lg">LOGIN</button>
				    </div>
			    </div>
			</form>
		</div>

		<!-- <div class="col-md-6"><h2 class="title">REGISTER</h2><br>
			<form action="/do_register" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="form-group row">
				    <label for="name" class="col-sm-4">EMAIL</label>
				    <div class="col-sm-8">
				    	{{ registerform.username }}
				    </div>
			    </div>
			    <div class="form-group row">
				    <label for="name" class="col-sm-4">PASSOWRD</label>
				    <div class="col-sm-8">
				    	{{ registerform.password1 }}
				    </div>
			    </div>
			    <div class="form-group row">
				    <label for="name" class="col-sm-4">CONFIRM PASSOWRD</label>
				    <div class="col-sm-8">
				    	{{ registerform.password2 }}
				    </div>
			    </div>
			    <div class="form-group row">
				    <div class="col-sm-12">
				    	<button type="submit" class="btn btn-lg">REGISTER</button>
				    </div>
			    </div> -->
			</form>
		</div>
	{% if message %}
		<div class="alert alert-danger" style="width: 100%">
		  {{ message }}
		</div>
	{% endif %}
	</div>
</div>


{% include "footer.html" %}