{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/orders.css' %}">
{% include "base.html" %}
<h2 style="text-align: center;margin-top: 2%;color: #5a5a5a">{{ category }}</h2>
<div class="container" style="max-width: 100%;margin-top: 1%;text-align: center;">

	{% if user.is_authenticated %}
	<a href="/orders" ><button class="btn btn-lg">ALL WORK REQUESTS</button></a>
	<a href="/unapproved_orders"><button class="btn btn-lg">UNAPPROVED WORK REQUESTS</button></a>
	<a href="/rejected_orders"><button class="btn btn-lg">REJECTED WORK REQUESTS</button></a>
	{% endif %}
	<a href="/pending_orders"><button class="btn btn-lg">PENDING WORK REQUESTS</button></a>
	<a href="/completed_orders"><button class="btn btn-lg">COMPLETED WORK REQUESTS</button></a>
	
</div>
<div style="width: 80%;margin: auto;">
	<table class="table">
	    <thead>
		    <tr>
		        <th scope="col">S.No</th>
		        <th scope="col">Date</th>
			<th scope="col">NAME</th>
		        <th scope="col">EMAIL</th>
		        <th scope="col">TITLE</th>
		        <th scope="col">APPROVER</th>
		        <th scope="col">APPROVAL 1</th>
		        <th scope="col">APPROVAL 2</th>
		        <th scope="col">APPROVAL 3</th>
		        {% if user.is_authenticated %}
		        <th scope="col">DETAILS</th>
		        {% endif %}
		    </tr>
	    </thead>
	    <tbody>
	    	{% if orders %}
	    	{% for order in orders %}

		    <tr>
		        <td>{{ forloop.counter }}</td>
			<td>{{ order.uploaded_at|date:"d M Y" }}</td> 
		      	<td>{{ order.name }}</td>
		      	<td>{{ order.mail }}</td>
		      	<td>{{ order.title }}</td>		      	
		      	<td>{{ order.prof_name }} ({{ order.prof_mail }})</td>
		      	
		      	{% ifequal 'Pending' order.approval1 %}
			      	<td>
			      		<div class="alert alert-primary" role="alert">
						  {{ order.approval1 }}
						</div>
					</td>
				{% endifequal %}
				{% ifequal 'Accepted' order.approval1 %}
			      	<td>
			      		<div class="alert alert-success" role="alert">
						  {{ order.approval1 }}
						</div>
					</td>
				{% endifequal %}
				{% ifequal 'Rejected' order.approval1 %}
			      	<td>
			      		<div class="alert alert-danger" role="alert">
						  {{ order.approval1 }}
						</div>
					</td>
				{% endifequal %}

				{% ifequal 'Pending' order.approval2 %}
			      	<td>
			      		<div class="alert alert-primary" role="alert">
						  {{ order.approval2 }}
						</div>
					</td>
				{% endifequal %}
				{% ifequal 'Accepted' order.approval2 %}
			      	<td>
			      		<div class="alert alert-success" role="alert">
						  {{ order.approval2 }}
						</div>
					</td>
				{% endifequal %}
				{% ifequal 'Rejected' order.approval2 %}
			      	<td>
			      		<div class="alert alert-danger" role="alert">
						  {{ order.approval2 }}
						</div>
					</td>
				{% endifequal %}
				{% ifequal 'May be' order.approval2 %}
			      	<td>
			      		<div class="alert alert-warning" role="alert">
						  {{ order.approval2 }}
						</div>
					</td>
				{% endifequal %}

				{% ifequal 'Pending' order.approval3 %}
			      	<td>
			      		<div class="alert alert-primary" role="alert">
						  {{ order.approval3 }}
						</div>
					</td>
				{% endifequal %}
				{% ifequal 'Accepted' order.approval3 %}
			      	<td>
			      		<div class="alert alert-success" role="alert">
						  {{ order.approval3 }}
						</div>
					</td>
				{% endifequal %}
				{% ifequal 'Rejected' order.approval3 %}
			      	<td>
			      		<div class="alert alert-danger" role="alert">
						  {{ order.approval3 }}
						</div>
					</td>
				{% endifequal %}

				{% if user.is_authenticated %}
				<td>
					<a href="/detail/{{ order.id }}">Details</a>
					
				</td>
				{% endif %}
		    </tr>
		    {% endfor %}
		    {% else %}
		    <tr>
		    	<td colspan="9" style="text-align: center;">There are no orders</td>
		    </tr>
		    {% endif %}
	    </tbody>
	</table>

</div>

<nav aria-label="Page navigation example">
{% if orders.has_other_pages %}
  <ul class="pagination justify-content-center">
    {% if orders.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ orders.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="page-item disabled"><a class="page-link"><span>&laquo;</span></a></li>
    {% endif %}
    {% for i in orders.paginator.page_range %}
      {% if orders.number == i %}
        <li class="page-item active"><a class="page-link"> <span>{{ i }} <span class="sr-only">(current)</span></span></a></li>
      {% else %}
        <li page-item><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if orders.has_next %}
      <li page-item><a class="page-link" href="?page={{ orders.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled page-item"><a class="page-link"><span>&raquo;</span></a></li>
    {% endif %}
  </ul>
{% endif %}
</nav>

	
{% include "footer.html" %}
