{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/orders.css' %}">
{% include "base.html" %}
<h2 style="text-align: center;margin-top: 2%;color: #5a5a5a">APPROVED ORDERS</h2>
<div style="width: 80%;margin: auto;">
	<table class="table">
	    <thead>
		    <tr>
		        <th scope="col">S.No</th>
		        <th scope="col">NAME</th>
		        <th scope="col">EMAIL</th>
		        <th scope="col">TITLE</th>
		        <th scope="col">APPROVER</th>
		        <th scope="col">APPROVAL 1</th>
		        <th scope="col">APPROVAL 2</th>
		        <th scope="col">APPROVAL 3</th>
		        <th scope="col">STATUS</th>
		    </tr>
	    </thead>
	    <tbody>
	    	{% if orders %}
	    	{% for order in orders %}

		    <tr>
		        <td>{{ forloop.counter }}</td>
		      	<td>{{ order.name }}</td>
		      	<td>{{ order.mail }}</td>
		      	<td>{{ order.title }}</td>		      	
		      	<td>{{ order.prof_name }} ({{ order.prof_mail }})</td>
		      	
		      	{% ifequal 'Pending' order.approval1 %}
			      	<td>
			      		<div class="alert alert-primary" role="alert">
						  {{ order.approval1 }}
						</div>
					</td>
				{% endifequal %}
				{% ifequal 'Accepted' order.approval1 %}
			      	<td>
			      		<div class="alert alert-success" role="alert">
						  {{ order.approval1 }}
						</div>
					</td>
				{% endifequal %}
				{% ifequal 'Rejected' order.approval1 %}
			      	<td>
			      		<div class="alert alert-danger" role="alert">
						  {{ order.approval1 }}
						</div>
					</td>
				{% endifequal %}

				{% ifequal 'Pending' order.approval2 %}
			      	<td>
			      		<div class="alert alert-primary" role="alert">
						  {{ order.approval2 }}
						</div>
					</td>
				{% endifequal %}
				{% ifequal 'Accepted' order.approval2 %}
			      	<td>
			      		<div class="alert alert-success" role="alert">
						  {{ order.approval2 }}
						</div>
					</td>
				{% endifequal %}
				{% ifequal 'Rejected' order.approval2 %}
			      	<td>
			      		<div class="alert alert-danger" role="alert">
						  {{ order.approval2 }}
						</div>
					</td>
				{% endifequal %}

				{% ifequal 'Pending' order.approval3 %}
			      	<td>
			      		<div class="alert alert-primary" role="alert">
						  {{ order.approval3 }}
						</div>
					</td>
				{% endifequal %}
				{% ifequal 'Accepted' order.approval3 %}
			      	<td>
			      		<div class="alert alert-success" role="alert">
						  {{ order.approval3 }}
						</div>
					</td>
				{% endifequal %}
				{% ifequal 'Rejected' order.approval3 %}
			      	<td>
			      		<div class="alert alert-danger" role="alert">
						  {{ order.approval3 }}
						</div>
					</td>
				{% endifequal %}
				<td>
					<a href="/update_status/{{ order.id }}">Update status</a>
					
				</td>
		    </tr>
		    {% endfor %}
		    {% else %}
		    <tr>
		    	<td colspan="9" style="text-align: center;">There are no orders</td>
		    </tr>
		    {% endif %}
	    </tbody>
	</table>
</div>
{% include "footer.html" %}