<html>
<head>
<title>
	IITH CWS
</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" ></script>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</head>
<body>
	<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
		<a class="navbar-brand" href="#">
			<img src="https://www.iith.ac.in/html_oldIITH/images/header1234.png" style="width:80%;" class="d-inline-block align-top" alt="">
		</a>
	  	
	  	<div class="collapse navbar-collapse " id="navbarTogglerDemo01">
	  		
		    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
		    	<li class="nav-item active">
		        	<a class="nav-link" href="/form">Submit Form<span class="sr-only">(current)</span></a>
		      	</li>
		      	<li class="nav-ite active">
			     	<a class="nav-link" href="/orders">All orders</a>
			     </li>
			     <li class="nav-ite active">
			     	<a class="nav-link" href="/login">Login</a>
			     </li>
		    </ul>
		</div>
	</nav>